.projectCapsule {
    margin: 1rem 0;
    cursor: pointer;
}

.projectName {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--link-color);
}

.projectName:hover {
    text-decoration: underline;
}

.tag {
    background-color: var(--accent1);
    border-radius: 0.2rem;
    padding: 0.1rem 0.4rem;
    display: inline-block;
    margin: 0 0.2rem 0.2rem 0.2rem;
}

@media (min-width: 480px) {
    .projectCapsule {
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 4%;
    }

    .projectName {
        margin-top: 0;
    }
}
